.filter {
  font-size: 1rem;
  height: 100%;
  position: relative;
  height: 2.5rem;
  background-color: white;

  .filter-box {
    position: relative;
    box-shadow: 0 0 5px var(--shadow);
    overflow: hidden;
    background-color: inherit;
    border-radius: 0.25rem;
    height: 100%;
    cursor: pointer;

    input {
      cursor: pointer;
      height: 100%;
      width: 15rem;
      font-size: 1rem;
      border: 0;
      font-family: "Nunito Sans", sans-serif;
      outline: 0;
      padding: 0 1rem;
      overflow: hidden;
      background-color: inherit;
      position: relative;
      padding-right: 3rem;
      color: inherit;
    }

    .icon {
      position: absolute;
      top: 50%;
      right: 1rem;
      font-size: 1.4rem;
      transform: translateY(-50%) rotate(0deg);
      transition: transform 0.2s ease-in-out;
    }
    .icon-active {
      transform: translateY(-50%) rotate(180deg);
      transition: transform 0.2s ease-in-out;
    }
  }

  .option {
    width: 15rem;
    position: absolute;
    top: 100%;
    margin-top: 0.5rem;
    box-shadow: 0 0 10px var(--shadow);
    border-radius: 5px;
    overflow: hidden;
    z-index: 999;
    height: 15rem;
    transition: height 0.5s ease;
    background-color: inherit;

    span {
      display: flex;
      align-items: center;
      padding: 5px 1.5rem;
      cursor: pointer;
      height: 2.5rem;
      background-color: inherit;

      &:hover {
        background-color: var(--darkModeBackground);
        color: var(--lightModeBackground);
      }
    }
  }

  .hider {
    height: 0;
  }
}
