.back img,
.home img {
  height: 1.5rem;
  margin-right: 1rem;
}

.box {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.back,
.home {
  box-shadow: 0 0 5px #bebebe;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  height: 2.5rem;
  width: 7.5rem;
  text-decoration: none;
  color: #000;
  border-radius: 0.5rem;
  cursor: pointer;
}

.back:hover,
.home:hover {
  box-shadow: 0 0 10px #bebebe;
}

.back:active,
.home:active {
  box-shadow: inset 0 0 5px #bebebe;
}
